.bar
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
  height 80px;
  background-color: red;

  &__line
    position: relative;
    width: 100%;
    height: 12px;
    background-color: rgba(209, 234, 255, 0.5);

  &__value
    height: 12px;
    background-color: #d1eaff;

  &__pin
    position: absolute;
    top: -22px;
    transform: translateX(-50%);
    width 44px;
    height 56px;
    background-image: url("../../assets/images/pin.png");
