.bulbGroup
  position: absolute;

  &--0
    width: 28px;
    height: @width;
    left: 275px;
    top: 430px;

  &--1
    width: 20px;
    height: @width;
    left: 480px;
    bottom: 210px;

  &--2
    width: 20px;
    height: @width;
    right: 184px;
    bottom: 232px;

  &--3
    width: 52px;
    height: @width;
    left: 562px;
    top: 262px;
