.hyperglycemia
  &--ternary
    width: 580px;
    margin-left: 243px;
    margin-top: 50px;
    height: 350px;

  &__row
    display: flex;

  &--ternary &__row
    padding-bottom: 4px;

  &--ternary &__row + &__row .chainLink
    padding-bottom: 10px;

  &__text
    padding: 34px 56px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    border: 2px solid white;
