.hyperglycemiaTernary
  width: 580px;
  margin-left: 243px;
  margin-top: 50px;
  height: 350px;

  &__row
    display: flex;
    padding-bottom: 4px;

  &__row + &__row &__chainLink
    padding-bottom: 10px;

  &__text
    padding: 34px 56px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    border: 2px solid white;
