.modal
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: "Myriad Pro", sans-serif;
  font-size: 14px;
  line-height: 18px;

  &--active
    opacity: 1;
    visibility: visible;

  &__footer
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 202px;
    padding-top: 74px;
    padding-left: 66px;
    padding-right: 75px;
    padding-bottom: 20px;
    background-image: url("../../assets/images/modal-footer-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
