.navigation
  display: flex;
  position: fixed;
  bottom: 10px;
  width: 100px;
  left: 10px;
  max-height: 240px;

  &__column
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  &__btn
    margin-top: 5px;
    margin-bottom: 5px;
