.pagination
  position: absolute;
  top: 50%;
  margin-top: -40px;
  right: 19px;

  &__item
    width 13px;
    height: @width;
    margin: 8px;
    background-color: white;
    border-radius: 50%;

  &__item.active
    background-color: #f78b1f;
