.swipeDown
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 84px;
  padding-top: 15px;
  text-align: center;
  background-image: url("../../assets/images/swipe-down-bg.png");
  background-position: 50% 100%;
  background-size: cover;

  &__text
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: 15px;
