.timer
  display: block;
  box-sizing: border-box;
  min-width: 48px;
  height: 16px;
  margin-top: 5px;
  transform: translateY(-10px);
  padding-left: 16px;
  padding-right 7px;
  font-family: "Times New Roman", serif;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  border-radius: 16px;
  color: #848485;
  background-color: white;
  background-image: url("../../assets/images/clock.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 2px 50%;
