.timer
  display: block;
  box-sizing: border-box;
  position: fixed;
  bottom: 15px;
  right: 920px;
  min-width: 53px;
  height: 20px;
  padding-left: 20px;
  padding-right 7px;
  font-family: "Times New Roman", serif;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  border-radius: 20px;
  color: black;
  background-color: white;
  background-image: url("../../assets/images/clock.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 2px 50%;
