.pagination
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;

  &__item
    width 16px;
    height: @width;
    margin: 10px;
    background-color: white;
    border-radius: 50%;

  &__item.active
    background-color: #f78b1f;
