font-face($family, $path, $weight) {
  @font-face {
    font-family: $family;
    font-weight: $weight;

    src: url($path + '.ttf') format('truetype'),
         local('☺');
  }
}

font-face('Gotham Pro', '../assets/fonts/GothamPro-Light', 300)
font-face('Gotham Pro', '../assets/fonts/GothamPro', 400)
font-face('Lato', '../assets/fonts/Lato-Regular', 400)
