.flex-row
  flex-direction: row;

.flex-column
  flex-direction: column;

.flex-column-reverse
  flex-direction: column-reverse;

.flex-jalign-start
  justify-content: flex-start;

.flex-jalign-end
  justify-content: flex-end;

.flex-jalign-center
  justify-content: center;

.flex-jalign-between
  justify-content: space-between;

.flex-jalign-evenly
  justify-content: space-evenly;

.flex-jalign-around
  justify-content: space-around;

.flex-align-start
  align-items: flex-start;

.flex-align-end
  align-items: flex-end;

.flex-align-center
  align-items: center;

.flex-align-baseline
    align-items: baseline;
