@import 'reset.css';
@import './fonts.styl';
@import './pagination/pagination.styl';
@import './slider/slider.styl';
@import './slide/slide.styl';
@import 'dragBar/dragBar.styl';

html,
body,
.root
  height: 100%;

body,
.root
  overflow: hidden;
