@import 'reset.css';
@import './fonts.styl';
@import './layout.styl';
@import './components/pagination.styl';
@import './components/slider.styl';
@import './components/slide.styl';
@import './components/dragBar.styl';
@import './components/swipeDown.styl';
@import './components/bulb.styl';
@import './components/bulbGroup.styl';
@import './components/arrow.styl';
@import './components/chainLink.styl';

html,
body,
.root
  height: 100%;

body,
.root
  overflow: hidden;

body
  font-family: "Gotham Pro", "Arial", "Helvetica", "Garuda", sans-serif;
