.slide
  width 100%;
  height 100%;
  color: white;

.slide.slide--goals
  background-color: #f8574a;

.slide.slide--therapy
  background-color: lightpink;

.slide.slide--details
  background-color: lightskyblue;
