@import './hyperglycemia__globals.styl'
@import '../chainLink/__.styl'

.hyperglycemia
  &--ternary
    width: 580px;
    margin-left: 243px;
    margin-top: 50px;
    height: 350px;

  &--octet
    width: 750px;
    margin-top: 4px;
    margin-left: 160px;

  &--sd2
    display: flex;
    width 900px;
    margin-left: auto;
    margin-right: auto;

  &__row
    display: flex;

  &--ternary &__row
    padding-bottom: 4px;

  &--octet &__row
    padding-bottom: 34px;

  &--octet &__row:first-child
    padding-left: 30px;
    padding-right: 110px;

  &--ternary &__row + &__row .chainLink
    padding-bottom: 10px;

  &--octet &__row:nth-child(2)
    height: 143px;
    overflow: visible;

  &--octet &__row:nth-child(2) .chainLink
    margin-top: smallChainLinkOffsetY

  &--octet &__row:last-child
    padding-left: 163px;
    padding-right: 200px;

  &__column
    display: flex;
    flex-direction: column;

  &__text
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 500;

  &__panel
    font-family: "Lato", sans-serif;
    font-weight: 500;
    border: textBorderSize solid white;

  &--ternary &__panel
    padding: 34px 56px;
    font-size: 19px;
    line-height: @font-size;

  &--octet &__panel
    padding-left: 105px;
    padding-right: 105px
    font-size: 25px;
    line-height: octetTextLineHeight;
