@import "../chainLink/chainLink__globals.styl"

.chainLink
  display: inline-block;
  vertical-align: top;

  &__box
    display: flex;

  &__image
    position: relative
    width: chainLinkSize;
    height: @width;

  &--small &__image
    width: smallChainLinkSize;
    height: @width;

  &__image::before
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: chainLinkOffset;
    margin-left: chainLinkOffset;
    width: chainLinkSize;
    height: @width;
    border-radius: 50%;
    background-color: #3f4381;

  &--small &__image::before
    margin-top: smallChainLinkOffset;
    margin-left: smallChainLinkOffset;
    width: smallChainLinkSize;
    height: @width;

  &__image::after
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px auto;

  &--brain &__image::after
    background-image: url("../../../assets/images/brain.png");

  &--musle &__image::after
    background-image: url("../../../assets/images/musle.png");
    background-size: 95%;
    transform: rotate(-30deg);

  &--liver &__image::after
    background-image: url("../../../assets/images/liver.png");

  &--lipid &__image::after
    background-image: url("../../../assets/images/lipid.png");

  &--kidneys &__image::after
    background-image: url("../../../assets/images/kidneys.png");

  &--small&--musle &__image::after
    background-image: url("../../../assets/images/musle.png");
    background-size: 95%;
    transform: rotate(-30deg);

  &--small&--liver &__image::after
    background-size: 44px auto;

  &--small&--kidneys &__image::after
    background-size: 40px auto;

  &--small&--lipid &__image::after
    background-size: 46px auto;

  &--small&--brain &__image::after
    background-size: 46px auto;

  &__content
    display: flex;
    font-family: "Lato", sans-serif;

  &__box.flex-column &__content.flex-column
    padding-top: 20px;

  &__box.flex-column-reverse &__content.flex-column
    padding-bottom: 20px;

  &--small &__box.flex-column &__content.flex-column
    padding-top: 4px;

  &--small &__box.flex-column-reverse &__content.flex-column
    padding-bottom: 10px;

  &__content.flex-column-reverse
    padding-top: 15px;

  &__box.flex-row &__content
    padding-left: 14px;

  &__box.flex-row-reverse &__content
    padding-right: 14px;

  &__box.flex-align-start &__content
    padding-top: contentOffsetY

  &&--symbolβ &__content.flex-column
    padding-bottom: 10px;

  &__index
    font-size: indexFontSize;
    line-height: @font-size;
    font-weight: 600;

  &__text
    font-weight: 500;
    font-size: 22px;

  &--small &__text
    font-size: 20px;
    line-height: 24px;

  &__box.flex-row-reverse &__text
    text-align: right;

  &__box.flex-column &__text,
  &__box.flex-column-reverse &__text
    text-align: center;

  &__symbol
    display: block;
    position: relative;
    height: 100%;
    line-height: 74px;
    font-family: "Lato", sans-serif;
    font-size: 66px;
    font-weight: 700;
    text-align: center;
    z-index: 1;

  &--small &__symbol
    font-size: 36px;
    line-height: smallChainLinkSize;

  &--symbolβ &__symbol
    font-size: 66px;
