@import "../hyperglycemia/__.styl"

chainLinkSize = 84px;
chainLinkOffset = - chainLinkSize / 2;

smallChainLinkSize = 60px;
smallChainLinkOffset = - smallChainLinkSize / 2;

indexFontSize = 36px;
indexlineHeight = indexFontSize;
contentOffsetY = (smallChainLinkSize / 2) - (indexlineHeight / 2);

smallChainLinkOffsetY = (octetTextHeight / 2) - (smallChainLinkSize / 2)
